@use "../settings/variables" as v;

.textMarquee {
	padding-top: 3.4375rem;
	padding-bottom: 2.5625rem;
	background-color: var(--wp--preset--color--light-blue-bg);
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;

	@include v.down(v.$bp-md) {
		padding: 1.5rem 0;
	}

	&__list {
		display: flex;
		align-items: center;
		width: max-content;
        max-width: 100%;

		will-change: transform;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;

		&Item {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0 1.0625rem;

			@include v.down(v.$bp-md) {
				padding: 0 0.5rem;
			}

			&--text {
				font-size: var(--wp--preset--font-size--title-xxl);
				font-weight: 700;
				line-height: 1.2;
				white-space: nowrap; 
				line-height: 1.22857;
				transition: .3s;
				&.is-center {
					color: var(--wp--preset--color--blue) !important;
				}
			}

			&--logo {
				img {
					display: block;
					width: auto;
					height: 6.25rem;
					object-fit: contain;

					@include v.down(v.$bp-lg) {
						height: 3.5rem;
					}

					@include v.down(v.$bp-md) {
						height: 2.5rem;
					}
				}
			}
		}
	}
	&.is-ready &__list {
		animation: logoMarqueeScroll var( --marquee-duration ) linear infinite;
		will-change: transform;
	}

	&:hover &__list {
		animation-play-state: paused;
	}

	&.is-offscreen &__list {
		animation-play-state: paused;
	}
}

@keyframes logoMarqueeScroll {
	from {
		transform: translate3d( 0, 0, 0 );
	}


	to {
		transform: translate3d( calc( var( --marquee-distance ) * -1 ), 0, 0 );
	}
}




@media (prefers-reduced-motion: reduce) {
	.textMarquee__list {
		transform: none !important;
	}
}


