/* Одиночний запис. */

.entry-header {
	margin-bottom: var(--wp--preset--spacing--md);
}

.entry-meta {
	font-size: var(--wp--preset--font-size--text-small);
	color: var(--wp--preset--color--neutral-700);
}
